.home {
padding-bottom: 5rem;
}

.home_heading {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
    align-items: center;
    
}

.right_content {

}

.right_content a{
    margin: 0 .5rem !important;
    text-decoration: none;
}